.table{
	display: table;
	width: 100%;
	overflow: auto;
}
.edit{
	width: 100%;
	overflow: auto;
	display: table-row;
}
span{
	width: 100px;
	overflow: hidden;
	display: table-cell;
	border: 1px solid;
	text-align: center;
	vertical-align: middle;
}
.edit img{
	width: 100px;
}