a{
	color: white;
}
.header{
	background: #337ab7;
}
.content{
	margin: 2% 0;
	font-size: 40px;
	color: #337ab7;
}
.table-link{
	color: #337ab7!important;
}
.table-link:hover{
	text-decoration: none;
	text-transform: uppercase;
	color: red!important;
}