.product{
	width: 80%;
	overflow: auto;
	margin: 0 auto;
	border: 1px solid red;
	border-radius: 10px;
}
.proImage{
	width: 40%;
	float: left;
	overflow: auto;
}
.proImage > img{
	width: 100%;
}
.proContent{
	width: 60%;
	float: left;

}
.proContent > h2{
	color: red;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 10px;
}
.proContent > p{
	width: 80%;
    text-align: justify;
    margin: 0 auto;
}
.origin{
	margin-left: 130px;
}
.fa{
	color: green;
}