
.product {
	height: 500px;
	overflow: hidden;
}
.col-md-6 {
	height: 100px;
}
.col-md-6 > form {
	line-height: 100px;
}
.product:hover {
	cursor: pointer;
}

div > img {
	display: block;
	margin: auto;
	height: 300px;
	width: 90%;
}
#add, #home {
	margin: 40px auto;
	display: block;
}
ul {
	list-style: none;
	margin-bottom: 100px;
	float: right;
}
li {
	display: block;
	float: left;
	padding: 5px;
	background-color: #D0CFD4;
	margin: 0 2px;
}

li:hover, .this {
	background-color: #BBBAC1;
}
li > a, li > a:hover {
	padding: 10px;
	color: black;
	text-decoration: none;
}